create user lb with password '';

create schema lb authorization lb;
/

create table lb.rol(
	code varchar(20) primary key,
	description varchar(250),
	deleted_at timestamp
);

create table lb.app_user(
	username varchar(50) primary key,
	first_name varchar(50),
	middle_name varchar(50),
	last_name varchar(50),
	family_name varchar(50),
	password_hash varchar(60) NOT NULL,
	birthday date,
	last_password_update timestamp,
	deleted_at timestamp
);

CREATE UNIQUE INDEX IF NOT EXISTS app_user_username_uq ON lb.app_user(username);

create table lb.rol_x_user(
	rol_code varchar(20),
	username varchar(50),
	CONSTRAINT pk_role_user PRIMARY KEY (rol_code, username),
	constraint fk_rxu_rol foreign key (rol_code) references rol(code),
	constraint fk_rxu_user foreign key (username) references app_user(username)
);

CREATE table lb.category(
	id_category int GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
	code VARCHAR(20) NOT NULL, 
	name varchar(100),
	parent_id INT,
	deleted_at timestamp,
	constraint uq_category_code unique (code),
	constraint fk_inner_parent foreign key (parent_id) references category(id_category)
);

CREATE TABLE lb.author(
	id_author int GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
	author varchar(50),
	nationality varchar(20),
	biography varchar(500),
	deleted_at timestamp
);

CREATE TABLE lb.book(
	id_book int GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
	title varchar(100),
	synopsis varchar(3500),
	isbn varchar(20),
	id_category int,
	id_author int,
	deleted_at timestamp,
	CONSTRAINT fk_b_category FOREIGN KEY (id_category) REFERENCES category(id_category),
	CONSTRAINT fk_b_author FOREIGN KEY (id_author) REFERENCES author(id_author)
);

CREATE TABLE lb.book_loan(
	id_loan int GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
	username varchar(20),
	id_book int,
	loan_date date,
	return_date date,
	local_loan date NOT NULL,
	CONSTRAINT fk_bl_user FOREIGN KEY (username) REFERENCES app_user(username),
	CONSTRAINT fk_bl_book FOREIGN KEY (id_book) REFERENCES book(id_book)
);
/

insert into lb.rol(code, description, deleted_at) values('admin', 'Administrator', null);
/

-- ============================================
-- CDD - Clasificación Decimal Dewey (Nivel 2)
-- Estructura jerárquica: cada grupo 000–900
-- requiere que primero existan los padres.
-- ============================================

-- 1️⃣ Categorías base (nivel 1)
INSERT INTO lb.category (code, name, parent_id) VALUES
('000', 'Generalidades / informática / información', NULL),
('100', 'Filosofía y psicología', NULL),
('200', 'Religión', NULL),
('300', 'Ciencias sociales', NULL),
('400', 'Lenguas', NULL),
('500', 'Ciencias naturales y matemáticas', NULL),
('600', 'Tecnología (ciencias aplicadas)', NULL),
('700', 'Artes y recreación', NULL),
('800', 'Literatura', NULL),
('900', 'Historia y geografía', NULL);

-- 2️⃣ Subcategorías (nivel 2)
INSERT INTO lb.category (code, name, parent_id)
SELECT c.code, c.name, p.id_category
FROM (
    VALUES
    -- 000
    ('010', 'Bibliografías', '000'),
    ('020', 'Bibliotecología y ciencias de la información', '000'),
    ('030', 'Enciclopedias y libros de consulta', '000'),
    ('040', '[No asignado en CDD]', '000'),
    ('050', 'Publicaciones seriadas, revistas, periódicos', '000'),
    ('060', 'Organizaciones, museos, asociaciones', '000'),
    ('070', 'Medios de comunicación, periodismo, edición', '000'),
    ('080', 'Colecciones generales, citas, misceláneas', '000'),
    ('090', 'Manuscritos y libros raros', '000'),

    -- 100
    ('110', 'Metafísica', '100'),
    ('120', 'Epistemología, causalidad, ser humano', '100'),
    ('130', 'Parapsicología y ocultismo', '100'),
    ('140', 'Sistemas y escuelas filosóficas', '100'),
    ('150', 'Psicología', '100'),
    ('160', 'Lógica', '100'),
    ('170', 'Ética', '100'),
    ('180', 'Filosofía antigua, medieval y oriental', '100'),
    ('190', 'Filosofía moderna occidental', '100'),

    -- 200
    ('210', 'Filosofía y teoría de la religión', '200'),
    ('220', 'La Biblia', '200'),
    ('230', 'Cristianismo y teología cristiana', '200'),
    ('240', 'Práctica y vida cristiana', '200'),
    ('250', 'Iglesias locales, órdenes religiosas', '200'),
    ('260', 'Teología social y relaciones de la iglesia', '200'),
    ('270', 'Historia del cristianismo', '200'),
    ('280', 'Denominaciones cristianas', '200'),
    ('290', 'Otras religiones', '200'),

    -- 300
    ('310', 'Estadísticas generales', '300'),
    ('320', 'Ciencia política', '300'),
    ('330', 'Economía', '300'),
    ('340', 'Derecho', '300'),
    ('350', 'Administración pública y ciencias militares', '300'),
    ('360', 'Problemas y servicios sociales; asociaciones', '300'),
    ('370', 'Educación', '300'),
    ('380', 'Comercio, comunicaciones y transporte', '300'),
    ('390', 'Costumbres, etiqueta y folclor', '300'),

    -- 400
    ('410', 'Lingüística', '400'),
    ('420', 'Inglés y anglosajón', '400'),
    ('430', 'Alemán y lenguas relacionadas', '400'),
    ('440', 'Francés y lenguas relacionadas', '400'),
    ('450', 'Italiano, rumano y lenguas afines', '400'),
    ('460', 'Español y portugués', '400'),
    ('470', 'Latín', '400'),
    ('480', 'Griego clásico', '400'),
    ('490', 'Otras lenguas', '400'),

    -- 500
    ('510', 'Matemáticas', '500'),
    ('520', 'Astronomía y ciencias afines', '500'),
    ('530', 'Física', '500'),
    ('540', 'Química y ciencias afines', '500'),
    ('550', 'Ciencias de la Tierra y geología', '500'),
    ('560', 'Paleontología; vida prehistórica', '500'),
    ('570', 'Ciencias de la vida; biología', '500'),
    ('580', 'Plantas (Botánica)', '500'),
    ('590', 'Animales (Zoología)', '500'),

    -- 600
    ('610', 'Medicina y salud', '600'),
    ('620', 'Ingeniería y afines', '600'),
    ('630', 'Agricultura y disciplinas relacionadas', '600'),
    ('640', 'Economía doméstica, vida familiar', '600'),
    ('650', 'Gestión, administración y servicios auxiliares', '600'),
    ('660', 'Ingeniería química y tecnologías afines', '600'),
    ('670', 'Manufactura', '600'),
    ('680', 'Fabricación de productos específicos', '600'),
    ('690', 'Construcción', '600'),

    -- 700
    ('710', 'Urbanismo, paisajismo y planeación', '700'),
    ('720', 'Arquitectura', '700'),
    ('730', 'Escultura, cerámica, artes relacionadas', '700'),
    ('740', 'Dibujo, artes decorativas y diseño', '700'),
    ('750', 'Pintura', '700'),
    ('760', 'Artes gráficas, grabado, estampas', '700'),
    ('770', 'Fotografía, cine, arte digital', '700'),
    ('780', 'Música', '700'),
    ('790', 'Deportes, juegos y entretenimiento', '700'),

    -- 800
    ('810', 'Literatura estadounidense en inglés', '800'),
    ('820', 'Literatura inglesa e inglesa antigua', '800'),
    ('830', 'Literatura alemana', '800'),
    ('840', 'Literatura francesa', '800'),
    ('850', 'Literatura italiana, rumana y afines', '800'),
    ('860', 'Literatura española y portuguesa', '800'),
    ('870', 'Literatura latina', '800'),
    ('880', 'Literatura griega clásica', '800'),
    ('890', 'Otras literaturas', '800'),

    -- 900
    ('910', 'Geografía y viajes', '900'),
    ('920', 'Biografía, genealogía e insignias', '900'),
    ('930', 'Historia del mundo antiguo', '900'),
    ('940', 'Historia de Europa', '900'),
    ('950', 'Historia de Asia', '900'),
    ('960', 'Historia de África', '900'),
    ('970', 'Historia de Norteamérica', '900'),
    ('980', 'Historia de Sudamérica', '900'),
    ('990', 'Historia de otras áreas', '900')
) AS c(code, name, parent_code)
JOIN lb.category p ON p.code = c.parent_code;

